footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px 0;
  font-size: 16px;
  
    .iconFooter {
      text-align: center;
  
      img {
        width: 50px;
      }
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .iconTamaño {
        font-size: 24px;
        color: white;
        margin-top: 10px;
      }
    .custom-text {
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
      }
}
