$color-primario: #007bff;
$color-secundario: #6c757d;
$light-color: #ffffff;

$tamano-fuente-titulo: 24px;
$tamano-fuente-subtitulo: 20px;

$espaciado-pequeno: 10px;
$espaciado-medio: 20px;
$espaciado-grande: 30px;

$light-color: #ffffff;

$font-family-heading: 'Racing Sans One', sans-serif;
$font-size-small: 35px;
$font-size-small-responsive: 22px;